<div class="mt-5">
    <h4>Add share</h4>
    <div>
        <!-- t{ 
            "template": true, 
            "name": "components/date-time-picker",
            "variables": {
                "id": "mining_share_start_time",
                "label": "Start time"
            }
        } -->
        <!-- t{ 
            "template": true, 
            "name": "components/date-time-picker",
            "variables": {
                "id": "mining_share_end_time",
                "label": "End time"
            }
        } -->
        <!-- t{ 
            "template": true, 
            "name": "components/form-text-input",
            "variables": {
                "id": "mining_share_amount",
                "label": "Mining amount"
            }
        } -->
        <button class="form-control btn btn-danger" id="mining_add_share_button">
            Close period
        </button>
    </div>
</div>
<div class="mt-5">
    <h4>Calculate share</h4>
    <div>
        <!-- t{
            "template": true,
            "name": "components/table",
            "nestedTemplates":{
                "head": "pages/shares/share-head"
            },
            "variables": {
                "headId":"",
                "bodyId":"mining_share_table_body",
                "footId":""
            }
        } -->
        <p>
            Share n.
            <span id="mining_share_calculate_id_label"></span>
        </p>
        <!-- t{
            "template": true,
            "name": "components/table",
            "nestedTemplates":{
                "head": "pages/shares/calculate-head",
                "foot": "pages/shares/calculate-foot"
            },
            "variables": {
                "headId":"",
                "bodyId":"mining_share_calculate_table_body",
                "footId":"mining_share_calculate_table_foot"
            }
        } -->
    </div>
</div>