<!DOCTYPE html>
<html lang="en">

<head>
    <!-- t{ "template": true, "name":"head" } -->
    <script type="text/javascript" src="js/journey.js"></script>
</head>

<body>
    <div class="row">
        <!-- t{ "template": true, "name":"menu" } -->
        <div class="col-9">
            <div class="tab-content" id="menu-tabContent">
                <!-- t{ "template": true, "name":"tabs/users/main" } -->
                <!-- t{ "template": true, "name":"tabs/telegram" } -->
                <!-- t{ "template": true, "name":"tabs/shares/main" } -->
                <!-- t{ "template": true, "name":"tabs/hw-wallet/main" } -->
            </div>
        </div>
    </div>
    <script>
        init();
    </script>
</body>

</html>