<!DOCTYPE html>
<html lang="en">

<head>
    <!-- t{ "template": true, "name":"head" } -->
    <script type="text/javascript" src="js/datetimepicker.js"></script>
    <script type="text/javascript" src="js/users-controller.js"></script>
    <script type="text/javascript" src="js/shares-controller.js"></script>
    <script type="text/javascript" src="js/telegram-controller.js"></script>
    <script type="text/javascript" src="js/hwwallet-controller.js"></script>
</head>

<body>
    <div class="row">
        <!-- t{ "template": true, "name":"menu" } -->
        <div class="col-9">
            <div class="tab-content" id="menu-tabContent">
                <!-- t{ "template": true, "name":"tabs/users/main" } -->
                <!-- t{ "template": true, "name":"tabs/telegram" } -->
                <!-- t{ "template": true, "name":"tabs/shares/main" } -->
                <!-- t{ "template": true, "name":"tabs/hw-wallet/main" } -->
            </div>
        </div>
    </div>
    <script>
        new UsersController();
        new SharesController();
        new TelegramController();
        new HWWalletController();
        $('input.datetimepicker').datetimepicker(datetimepickerOptions);
    </script>
</body>

</html>