<div class="col-3 p-5">
    <div class="nav flex-column nav-pills" id="menu-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="menu-users-tab" data-toggle="pill" href="#menu-users" role="tab"
            aria-controls="menu-users" aria-selected="true">Users</a>
        <a class="nav-link" id="menu-telegram-tab" data-toggle="pill" href="#menu-telegram" role="tab"
            aria-controls="menu-telegram" aria-selected="false">Telegram parsing</a>
        <a class="nav-link" id="menu-shares-tab" data-toggle="pill" href="#menu-shares" role="tab"
            aria-controls="menu-shares" aria-selected="false">Shares</a>
        <a class="nav-link" id="menu-hw-wallet-tab" data-toggle="pill" href="#menu-hw-wallet" role="tab"
            aria-controls="menu-hw-wallet" aria-selected="false">HW Wallet</a>
    </div>
</div>