<div class="col-3 p-5">
    <div class="nav flex-column nav-pills" id="menu-tab" role="tablist" aria-orientation="vertical">
        <!-- t{ 
            "template": true, 
            "name": "components/menu-button", 
            "variables": {"active": "active", "pageName": "users", "description": "Users"} 
        } -->
        <!-- t{ 
            "template": true, 
            "name": "components/menu-button", 
            "variables": {"active": "", "pageName": "telegram", "description": "Telegram parsing"} 
        } -->
        <!-- t{ 
            "template": true, 
            "name": "components/menu-button", 
            "variables": {"active": "", "pageName": "shares", "description": "Shares"} 
        } -->
        <!-- t{ 
            "template": true, 
            "name": "components/menu-button", 
            "variables": {"active": "", "pageName": "wallet", "description": "Wallet"} 
        } -->
    </div>
</div>