<div class="mb-5">
    <!-- t{
        "template": true,
        "name": "components/table",
        "nestedTemplates":{
            "head": "pages/shares/head"
        },
        "variables": {
            "headId":"",
            "bodyId":"mining_table_body",
            "footId":""
        }
    } -->
</div>
<div class="my-2">
    <h4>Add user</h4>
    <!-- t{ 
        "template": true, 
        "name": "components/form-text-input",
        "variables": {
            "id": "mining_add_name",
            "label": "Name"
        }
    } -->
    <!-- t{ 
        "template": true, 
        "name": "components/form-text-input",
        "variables": {
            "id": "mining_add_default_hash_rate",
            "label": "Default Hash Rate [MH/s]"
        }
    } -->
    <!-- t{ 
        "template": true, 
        "name": "components/form-text-input",
        "variables": {
            "id": "mining_add_telegram_name",
            "label": "Telegram name"
        }
    } -->
    <div class="form-floating">
        <button class="form-control btn btn-primary" id="mining_add_user_button">
            Add user
        </button>
    </div>
</div>