<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="wallet_calculate_table_show_zero_account">
    <label class="form-check-label" for="wallet_calculate_table_show_zero_account">
        Show zero value accounts
    </label>
</div>
<!-- t{
    "template": true,
    "name": "components/table",
    "nestedTemplates":{
        "head": "pages/wallet/head",
        "foot": "pages/wallet/foot"
    },
    "variables": {
        "headId":"",
        "bodyId":"wallet_calculate_table_body",
        "footId":"wallet_calculate_table_foot"
    }
} -->
<div class="mt-5">
    <h4>Add coin</h4>
    <!-- t{ 
        "template": true, 
        "name": "components/form-text-input",
        "variables": {
            "id": "wallet_add_name",
            "label": "Name"
        }
    } -->
    <!-- t{ 
        "template": true, 
        "name": "components/form-text-input",
        "variables": {
            "id": "wallet_add_ticker",
            "label": "Ticker"
        }
    } -->
    <div class="form-floating">
        <button class="form-control btn btn-primary" id="wallet_add_coin_button">
            Add coin
        </button>
    </div>
</div>